.subject {
  margin-bottom: 20px;
}

.subject,
.subject input {
  width: 100%;
  min-height: 50px;
}

.content textarea {
  width: 100%;
  min-height: 300px;
  background-color: #fff;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 0.67857143em 1em;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  outline: none;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
}

.content textarea:focus {
  border-color: #85b7d9;
}

form span {
  color: red;
}

.detail_subject {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 25px !important;
  margin-bottom: 0;
}

.detail_subject .phone {
  display: flex;
  gap: 20px;
}

.detail_content {
  margin-top: 20px;
  font-size: 18px;
  min-height: 300px;
}

.time {
  font-size: 13px;
  font-weight: 100;
}

.time:first-child {
  position: relative;
}

.time:first-child::after {
  content: "";
  width: 1px;
  height: 40%;
  background-color: #9c9c9c;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

form .subject {
  display: flex;
  flex-direction: column;
}

form .subject span {
  display: block;
  padding-bottom: 10px;
}

.address {
  margin-bottom: 20px;
}

.address button {
  width: 100%;
  background-color: #fff !important;
  border: 1px solid #1678c2 !important;
  color: #1678c2 !important;
}

.detail_address1 {
  margin: 5px 0;
}

.mapContainer,
.map {
  width: 100%;
  height: 100%;
}

.map {
  box-sizing: border-box;
  padding-bottom: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.detail_address1 {
  width: 100%;
}

.write_button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.address {
  display: flex;
  gap: 20px;
  align-items: center;
}

.address button {
  width: 300px;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .address {
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (max-width: 500px) {
  .address button {
    width: 100%;
  }
}