.form h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.sns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.sns a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #5E6278;
  width: 100%;
}

.sns img {
  width: 15px;
}

.divider {
  margin-bottom: 40px;
}

.divider > div {
  color: #A1A5B7 !important;
  text-transform: none !important;
}

.input {
  margin-bottom: 15px;
}

.input > div {
  width: 100%;
  flex-direction: column;
  gap: 3px
}

.input > div span,
.error {
  color: red;
  font-size: 12px;
}

.input > div {
  width: 100%;
}

.search {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 20px;
}

.search a {
  color: #222222 !important;
  position: relative;
}

.search a + a::after {
  content: '';
  position: absolute;
  height: 50%;
  width: 1px;
  top: 5px;
  left: -5px;
  background-color: #111;
}

.button {
  margin-top: 40px;
}

.button button {
  width: 100%;
}

.button a {
  color: #fff !important;
}