/* App.css (또는 원하는 CSS 파일) */

/* 메시지 컨테이너 스타일 */
.previewMsgBox {
    position: absolute;
    top: 60px;
    right: 0;
    padding: 10px;
    overflow: hidden;
  }
  
  /* 개별 메시지 스타일 */
  .previewMsg {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: transform 1s ease-out; /* transform 속성에 대한 트랜지션 적용 */
   /* 초기 위치를 오른쪽으로 이동 */
    animation: fadeOut 3s forwards;   /* 5초 후에 사라지도록 애니메이션 적용 */
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }
  }
  