.top {
  display: flex; /* 플렉스 박스로 표시 */
  width: 100%; /* 너비 100% */
  padding: 20px; /* 내부 여백 20px */
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,.03), 0 0.9375rem 1.40625rem rgba(4,9,20,.03), 0 0.25rem 0.53125rem rgba(4,9,20,.05), 0 0.125rem 0.1875rem rgba(4,9,20,.03); /* 그림자 */
  justify-content: space-between; /* 양쪽 정렬 */
}

.left, .right {
  display: flex; /* 플렉스 박스로 표시 */
  gap: 20px; /* 요소 사이 간격 20px */
  color: var(--color); /* 글꼴 색상 */
}

a {
  color: var(--color) !important; /* 글꼴 색상 (!important를 사용하여 우선순위 부여) */
}

.user {
  display: flex; /* 플렉스 박스로 표시 */
  gap: 20px; /* 요소 사이 간격 20px */
  cursor: pointer; /* 커서 스타일 변경 */
}

.logout {
  cursor: pointer; /* 커서 스타일 변경 */
}

.chat {
  position: relative;
  width: 70px;
  padding: 0px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer; /* 커서 스타일 변경 */
}

.chatCircle {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ed5743;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
}

.messageCount {
  font-weight: bold;
}