.top {
  display: flex;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,.03), 0 0.9375rem 1.40625rem rgba(4,9,20,.03), 0 0.25rem 0.53125rem rgba(4,9,20,.05), 0 0.125rem 0.1875rem rgba(4,9,20,.03);
  justify-content: space-between;
}

.left, .right {
  display: flex;
  gap: 20px;
  color: var(--color);
}

a {
  color: var(--color) !important;
}

.user {
  display: flex;
  gap: 20px;
}

.logout {
  cursor: pointer;
}