.top {
  display: flex; /* 플렉스 박스로 표시 */
  width: 100%; /* 너비 100% */
  padding: 20px; /* 내부 여백 20px */
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,.03), 0 0.9375rem 1.40625rem rgba(4,9,20,.03), 0 0.25rem 0.53125rem rgba(4,9,20,.05), 0 0.125rem 0.1875rem rgba(4,9,20,.03); /* 그림자 */
  justify-content: space-between; /* 양쪽 정렬 */
}

.left, .right {
  display: flex; /* 플렉스 박스로 표시 */
  gap: 20px; /* 요소 사이 간격 20px */
  color: var(--color); /* 글꼴 색상 */
}

a {
  color: var(--color) !important; /* 글꼴 색상 (!important를 사용하여 우선순위 부여) */
}

.user {
  display: flex; /* 플렉스 박스로 표시 */
  gap: 20px; /* 요소 사이 간격 20px */
  cursor: pointer; /* 커서 스타일 변경 */
}

.logout {
  cursor: pointer; /* 커서 스타일 변경 */
}

.chat {
  position: relative; /* 상대적인 위치 설정 */
  width: 70px; /* 너비 설정 */
  padding: 0px 20px; /* 패딩 설정 (상하 0px, 좌우 20px) */
  border: 1px solid #ccc; /* 테두리 설정 (1px 실선, 회색) */
  border-radius: 6px; /* 테두리 반경 설정 */
  font-weight: 500; /* 글꼴 두껍게 설정 */
  cursor: pointer; /* 커서 스타일을 포인터로 변경하여 클릭 가능함을 나타냄 */
}

.chatCircle {
  position: absolute; /* 절대적인 위치 설정 */
  top: -10px; /* 위에서 -10px 위치로 이동 */
  right: -10px; /* 오른쪽에서 -10px 위치로 이동 */
  background-color: #ed5743; /* 배경색 설정 (빨간색) */
  color: white; /* 글자색 설정 (흰색) */
  border-radius: 50%; /* 테두리 반경 설정 (원 모양으로 만듦) */
  width: 25px; /* 너비 설정 */
  height: 25px; /* 높이 설정 */
  text-align: center; /* 텍스트 가운데 정렬 */
  font-size: 14px; /* 글꼴 크기 설정 */
  line-height: 25px; /* 줄 높이 설정 (수직 정렬) */
}

.messageCount {
  font-weight: bold; /* 글꼴을 두꺼운 형태로 설정 */
}