.searchContainer {
  display: flex; /* 플렉스 박스로 표시 */
}

.button {
  display: flex;
  margin-left: 8px; /* 왼쪽 여백 8px */
}

@media screen and (max-width: 450px) {
  .searchContainer {
    flex-direction: column; /* 수직 방향으로 정렬 */
    flex-wrap: wrap; /* 여러 줄로 감싸기 */
  }
  
  .button {
    width: 100% !important; /* 너비 (!important를 사용하여 우선순위 부여) */
    margin-left: 0 !important; /* 좌측 여백 (!important를 사용하여 우선순위 부여) */
    margin-top: 5px; /* 상단 여백 */
    border-radius: 3px; /* 테두리 반경 */
  }
}