.subject {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.write .subject {
  margin-bottom: 20px;
}

.segment {
  padding: 20px;
}

.main {
  width: 100%;
  height: 100%;
}

.write_button {
  display: flex;
  justify-content: flex-end;
}