.menu {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
  background-color: #2d3039;
  gap: 50px;
}

.menu div {
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
}

.menu div a {
  color: #fff !important;
}
