.menu {
  display: inline-flex; /* 인라인 플렉스 박스로 표시 */
  flex-direction: column; /* 수직 방향으로 정렬 */
  padding: 20px; /* 내부 여백 20px */
  background-color: #2d3039; /* 배경색 */
  gap: 50px; /* 요소 사이 간격 50px */
}

.menu div {
  font-size: 20px; /* 글꼴 크기 20px */
  color: #fff; /* 글꼴 색상 */
  display: flex; /* 플렉스 박스로 표시 */
  justify-content: center; /* 가운데 정렬 */
}

.menu div a {
  color: #fff !important; /* 글꼴 색상 (!important를 사용하여 우선순위 부여) */
}
