.settingChatBox {
  width: 350px; /* 모달의 너비 조정 */
  height: 400px; /* 모달의 높이 조정 */
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.h3 {
  display: flex;
  justify-content: center;
}

.p {
  justify-content: center;
  display: flex;
}

.ul {
  overflow: auto;
}

.li {
  list-style: none;
}

.listBox {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.blockBtn {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 100;
  background-color: #1d4461;
  color: #fff;
  cursor: pointer;
  height: 33px;
  transition: border-color 0.25s;
}
